/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

html, body {
  background: #e9ebee;
}
@media screen and (min-width: 900px) {
  .wrapper {
    max-width: 900px;
    margin: 10px auto;
  }

}
@media screen and (max-width: 899px) {
  .wrapper .sidebar {
    padding: 15px;
  }
}

@media screen and (max-width: 768px) {
  .sidebar .news-row .image {
    background-size: cover;
  }
  .wrapper .single-news { display: none }
}

@media screen and (min-width: 769px) {
  .sidebar .news-row .image {
    background-size: contain;
  }
  .wrapper .single-news { display: block }
}

.sidebar {
  background: white;
  .news-row {
    background: #fff;
    border-bottom: solid 1px #eee;
    padding: 5px;
    h2 {
      width: 100%;
      font-size: 18px
    }
    .image {
      width: 100%;
      height: 150px;
      border: 1px solid #eee;

      background-position: center;
      background-repeat: no-repeat;
    }
    .excerpt {
      width: 100%;
      overflow: hidden;
      font-size: 14px;
    }
  }

  h2 {
    color: #34ca78;
  }
}
.single-news {
  background: #fff;
  padding: 15px;
  .single_image {
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.margin-bottom-5 { margin-bottom: 5px }
.margin-top-5 { margin-top: 5px }
.no-padding { padding-left: -15px; padding-right: -15px; }
.toast {
  top: 15px;
  left: 15px;
  position: fixed;
}